

:root {
  /* Cores */
  --laranja: #FFA500;
  --laranja-claro: #FFD700;
  --vermelho: #FF0000;
  --branco: #FAFAFA;
  --preto: #404040;
  --cinza: #CCCCCC;

  /* Fonte */
  --fonte-padrao: Arial, sans-serif;

  /* Tamanhos */
  --tamanho-titulo: 24px;
}

/* Estilos para menus */
.menu {
  background-color: var(--laranja);
  color: var(--branco);
}

/* Estilos para cards */
.card {
  background-color: var(--laranja-claro);
  border: 1px solid var(--laranja);
  border-radius: 5px;
  padding: 20px;
}

/* Estilos para links */
a {
  color: var(--laranja);
  text-decoration: none;
}

/* Estilos para botões */
.botao {
  background-color: var(--laranja);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para botões de compra */
.botao-compra {
  background-color: var(--laranja);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para botões de compra de produtos esgotados */
.botao-compra.esgotado {
  background-color: var(--vermelho);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: not-allowed;
  /* Outros estilos desejados para botões de produtos esgotados */
}

/* Estilos para elementos do formulário */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--cinza);
  border-radius: 5px;
}

input[type="submit"] {
  background-color: var(--laranja);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--laranja-claro);
}

a:hover {
  color: var(--laranja-claro);
}

/* Outros estilos globais */
body {
  font-family: var(--fonte-padrao);
}

h1, h2, h3 {
  font-size: var(--tamanho-titulo);
  color: var(--preto);
}

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
    height: 10%;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    color: orange;
}

#logo{
    display: flex;
    width: 50%;    
    justify-content: left;
    align-content: space-around;
    text-align: center;
    background-color: white;
}

#menu{
    display: flex;
    width: 50%;    
    justify-content: space-evenly;
    align-content: space-between;
    text-align: right;
    align-items: center;
    font-size: 20px;
   
}

#corpo{
    display: flexbox;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    background-color:white;
}

#rodape{
    display: flexbox;
    flex-wrap: wrap;
    width: 100%; 
    height: 10%;   
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    background-color: yellow;
}

.botoes{
    background-color: orange;
    height: 37px;
    width: 100px;
    color: #fff;
    border: none;
    font-size: 14px;
    align-items: center;
    
}

.input-text{
    background-color: #EEE;
    border: solid 1px #ccc;
    padding: 10px;  
    size: 10;

}

