

:root {
  /* Cores */
  --laranja: #FFA500;
  --laranja-claro: #FFD700;
  --vermelho: #FF0000;
  --branco: #FAFAFA;
  --preto: #404040;
  --cinza: #CCCCCC;

  /* Fonte */
  --fonte-padrao: Arial, sans-serif;

  /* Tamanhos */
  --tamanho-titulo: 24px;
}

/* Estilos para menus */

.cabecalho {
  display: flex; /* Permite posicionar elementos lado a lado */
  width: 100%;
  justify-content: space-between; /* Distribui espaço entre logo e menu */
  align-content: center; /* Alinha verticalmente ao centro (opcional) */
  background-color: transparent;
}

#logo_top {
  display: flex;
  align-items: center;
}

#logo_top img {
  max-width: 100px; /* Defina o tamanho máximo da imagem conforme necessário */
}

#menu {
  display: flex;
  align-items: center;
}

#menu ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0;
  margin: 0;
}

#menu li {
  margin-right: 15px; /* Espaço horizontal entre os itens do menu */
  list-style-type: none;
}

#menu li:last-child {
  margin-right: 0; /* Remove a margem à direita do último item do menu */
  list-style-type: none;
}

@media (max-width: 768px) {
  /* Estilos específicos para dispositivos móveis */
  header {
    padding: 10px;
  }

  img {
    max-width: 80%;
  }

  footer {
    font-size: 12px;
  }
}



/* Estilos para cards */
.card {
  background-color: var(--laranja-claro);
  border: 1px solid var(--laranja);
  box-shadow: 10px 2px 0px rgb(47, 46, 46);
  border-radius: 5px;
  padding: 20px;
}

/* Estilos para links */
a {
  color: var(--laranja);
  text-decoration: none;
}

/* Estilos para botões */
.botao {
  background-color: var(--laranja);
  color: var(--preto);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para botões de compra */
.botao-compra {
  background-color: var(--laranja);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para botões de compra de produtos esgotados */
.botao-compra.esgotado {
  background-color: var(--vermelho);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: not-allowed;
  /* Outros estilos desejados para botões de produtos esgotados */
}

a:hover {
  color: var(--laranja-claro);
}

/* Outros estilos globais */
body {
  margin-top: 0px; /* Ajuste para compensar a altura do cabeçalho */
  padding: 10px;
  font-family: var(--fonte-padrao);
  background-color: var(--branco);
  margin-bottom: 20px; /* Bottom margin only */
  }


h1, h2, h3 {
  font-size: var(--tamanho-titulo);
  color: var(--preto);
}

/*
.cabecalho{
  margin-right: 0;  
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;  
  right: 0;  
  width: 100%;  
  height: 5%;
  justify-content: right;
  align-content: right;
  text-align: right;
  background-color: transparent;
  color: var(--laranja);
}  */

#logo{
    display: flex;
    width: 50%;    
    justify-content: left;
    align-content: space-around;
    text-align: center;
    background-color: var(--branco)
}

#corpo{
    margin-top: 40px; /* Ajuste para compensar a altura do cabeçalho */
    padding: 10px;
    display: flexbox;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    background-color: var(--branco)    
}

#rodape{
    display: flexbox;
    flex-wrap: wrap;
    width: 100%; 
    height: 10%;   
    justify-content: flex-end;
    position: relative;
    align-content: center;
    text-align: center;
    background-color: var(--laranja-claro)
}

#divRodape {
  background-color: transparent;
  color: var(--preto);
  text-align: center;
  padding: 10px 0;
 
  bottom: 0;
  width: 100%;
}

.botoes{

    background-color: var(--laranja);
    height: 37px;
    width: 100px;
    color: var(--preto);
    border: 1 ;
    font-size: 18px;
    align-items: center;
}

.input-text{
    background-color: #EEE;
    border: solid 1px #ccc;
    padding: 10px;  
    size: 10;

}

